**/*.log
**/resources/avro/*.avsc
kafka/with-docker/kafka1/
kafka/with-docker/kafka2/
kafka/with-docker/kafka3/
kafka/with-docker/zk/
target/
**/target/
.idea/
.attach_pid*
**/.idea/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
*.swp
hadoop/with-docker/hadoop/
